
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Relic</title>
</head>

<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionBoxes.css') }}">
<div class="sideBlue">
</div>

<button onclick = "chooseDisplay(this.id)" class = "tab searchTab tabHover" id = "search">
Search
</button>

<button onclick = "chooseDisplay(this.id)" class = "tab importTab tabHover" id = "import">
Import
</button>

<form action = "search.php" class= "searchStyle tabPage search" id = "searchBar" method = "get">
  Question keyword search:<input name="search" type="text">
  <button name = "button" type = "submit">Search</button>
</form>

<form action="/import" class = "searchStyle tabPage search" id = "importQTI" method="get">
	<input name="importQTI" value = "" type="hidden"></input>
  <input type="submit" value = "Import">
</form>

<!--
<form action="exportExam.php" class = "searchStyle tabPage search" id = "exportExam" method="get">
	<input name="exportArray" id = "exportArray" value = "" type="hidden"></input>
  <input type="submit" value = "Export">
</form>
-->

<!--<div id="responseDiv" class= "searchStyle tabPage search"></div>-->
<div id="importPage" class= "searchStyle tabPage import"><h1>import questions from canvas!</h1></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src = "{{ url_for('static', filename='js/createQuestionBoxes.js') }}"></script>
<script type="text/javascript" src = "{{ url_for('static', filename='js/ajaxForQuestionBoxes.js') }}"></script>
</html>