
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Relic</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/js/ajaxForAutocomplete.js"></script>
    <script src="../static/js/createQuestionBoxes.js"></script>
    <script src= "../static/js/searchTags.js"></script>
    <script>
        var restrictions = {"units":[], "unit_slos":[], "skills":[], "skill_slos":[]};
    </script>
</head>

<body>

<link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionBoxes.css') }}">
<div class="sideBlue">
</div>

<button onclick = "chooseDisplay(this.id)" class = "tab searchTab tabHover" id = "search">
Search
</button>

<button onclick = "chooseDisplay(this.id)" class = "tab importTab tabHover" id = "import">
Import
</button>


<form action="/question" class = "searchStyle tabPage search" method="get">
  <input type="submit" value = "question">
</form>

<form action="/import" class = "searchStyle tabPage search" id = "importQTI" method="get">
	<input name="importQTI" value = "" type="hidden"></input>
  <input type="submit" value = "Import">
</form>

<table class = "searchStyle tabPage search">
    <tr>
        <td>
            <input id ="tagQuantity" type="text">
        </td>
        <td>

            <select name="tagFilter" id="tagFilter">
                <option value = "units" selected="selected">Unit</option>
                <option value  = "unit_slos">Unit SLO</option>
                <option value	= "skills">Skill</option>
                <option value = "skill_slos">Skill SLO</option>
            </select>
        </td>
        <td>
            <input id = "tagSearch" type = "text">
        </td>
        <td>
            <button id="addTag" onclick="updateRestrictions()" class="tabHover">Add Tag</button>
        </td>
    </tr>
</table>

<table class = "searchStyle tabPage search" id="tagRequirements">

</table>



<script>


$("#tagSearch").keyup(function() {
    var searchtext = $("#tagSearch").val();
    var tagfilter = $("#tagFilter").val();
    $.ajax({
      url: "/getTagsFromDB",
      type: "POST",
      data: JSON.stringify({"tag_level":tagfilter, "search_text":searchtext}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(result) {
          $("#tagSearch" ).autocomplete({source:result["tags"]});
      },
      failure: function(errMsg) {
                alert(errMsg);
            }
    })
  });
</script>

<div id="importPage" class= "searchStyle tabPage import"><h1>import questions from canvas!</h1></div>
</body>

</html>