
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Relic</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/js/ajaxForAutocomplete.js"></script>
    <script src="../static/js/createQuestionBoxes.js"></script>

</head>

<body>

<link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionBoxes.css') }}">
<div class="sideBlue">
</div>

<button onclick = "chooseDisplay(this.id)" class = "tab searchTab tabHover" id = "search">
Search
</button>

<button onclick = "chooseDisplay(this.id)" class = "tab importTab tabHover" id = "import">
Import
</button>


<form action="/import" class = "searchStyle tabPage search" id = "importQTI" method="get">
	<input name="importQTI" value = "" type="hidden"></input>
  <input type="submit" value = "Import">
</form>

<form method = 'GET' id = "tagFilterForm" class = "searchStyle tabPage search">
<select name="tagFilter" id="tagFilter">
    <option value = "Unit" selected="selected">Unit</option>
    <option value  = "UnitSLO">Unit SLO</option>
    <option value	= "Skill">Skill</option>
    <option value = "SkillSLO">Skill SLO</option>
</select>
     <input id = "tagSearch" type = "text" onkeyup = "ajaxForAutocomplete()">
</form>


<script>
$("#tagSearch").keyup(function(){
    var text = $(this).val();
    var tagfilter = $("#tagFilter").val();

    $.ajax({
      url: "/getTagsFromDB",
      type: "get",
      data: {ACtext: text, tagFilter: tagfilter},
      success: function(result) {
          arr = result['result'];
          $( "#tagSearch" ).autocomplete({source:arr});
      }
    });
});
</script>

<div id="importPage" class= "searchStyle tabPage import"><h1>import questions from canvas!</h1></div>
</body>

</html>